/* .PlayerContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */
.player{
    border: 2px solid rgb(222, 216, 227);
}
.player img{
    width: 250px;
}
.btn{
    width: 100%;
    
}
.btn:hover{
    background-color: blueviolet;
}
.btnR:hover{
    background-color: blueviolet;
}
.btnR{
    width: 100%;
    background-color: rgb(25, 34, 84);
}